.header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #20232a;
  z-index: 1;
  justify-content: center;
  gap: 30px;
  align-items: center;
  /* padding-left: 20px;
  padding-right: 20px; */
  height: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}
