.mainback {
  background-color: white;
}

.main {
  display: flex;
  padding-left: 20px;
  margin: 60px 67px 65px 67px;
}

.section {
  display: block;
  padding-top: 45px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #6d6d6d;
  padding-top: 0;
  font-weight: 300;
}

.contents {
  text-align: justify;
  width: 90%;
  font-size: 17px;
  line-height: 1.7;
  max-width: 42em;
  color: black;
}

.getstart {
  background-color: #282c34;
  padding-bottom: 30px;
}
