.nav {
  background-color: Transparent;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: lighter;
}

.links {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: lighter;
  padding-left: 20px;
  padding-right: 20px;
}
