.footApp {
  display: inline-flex;
  flex-direction: column;
  color: #ffffff;
  width: 50%;
  padding-top: 40px;
}

.footAppTitle {
  color: #999;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: 0.08em;
}

.links {
  line-height: 2;
}
